<html>
<head>
<title>Factivity Index</title>
<style type="text/css">
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
}

a {
color: #3B5998;
cursor: pointer;
display: inline;
text-decoration: none;
}

#greytext {
color: gray;
}

</style>
</head>

<body>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if logged_in %}
<div align="right"><a href="{% url Factivity.annual.views.logout_view %}">logout</a></div>

<form action="/factivity/add/" method="post">
<select name="category">
{% for category in categories %}
    <option value="{{category.id}}">{{category.short_description}}</option>
{% endfor %}
</select><br />
<input type="text" size="80" maxlength="512" name="description" /> activity description<br />
<input type="submit" value="New Activity"/>
</form>

{% else %}
<div align="right"><a href="{% url Factivity.annual.views.login_view %}">login</a></div>
{% endif %}

<div align="right"><h1>Faculty Activity</h1></div>

{% if recent_activity %}
    <ul>
    {% for activity in recent_activity %}
        <li><a href="{% url Factivity.annual.views.user activity.username %}">
            {{activity.username}}</a>
            {{ activity.description }}<br />
            <div id="greytext">
            in {{ activity.category }}, 
            {{ activity.date|date:"M d Y"}}
            </div></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No activity in the timeline.</p>
{% endif %}

</body>
</html>
