<html>
<head>
<title>Factivity Index</title>
<style type="text/css">
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
color: #000000;
}

a {
color: #3B5998;
cursor: pointer;
display: inline;
text-decoration: none;
}

#greytext {
color: gray;
}

</style>
</head>

<body>

{% if errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url Factivity.annual.views.authenticate_view %}">
<table>
<tr>
    <td>Username: </td>
    <td><input type="text" name="username"></td>
</tr>
<tr>
    <td>Password: </td>
    <td><input type="password" name="password"></td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


</body>
</html>